@model System.Web.Mvc.HandleErrorInfo

@{
    
    ViewBag.Title = "Conta desativada!";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}


<div class="login-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            @*<img src="~/Content/imagens/logo-focus-white-simple.png" alt="logo" class="logo-img">*@
            <span>Sua conta está desativada! </span>
        </div>
        <div class="panel-body text-center">

            Esta conta foi desativada. Entre em contato com o suporte técnico FOCUS

        </div>
    </div>
</div>







