@{
    
    ViewBag.Title = "Senha resetada conm sucesso!";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}








<div class="login-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            @*<img src="~/Content/imagens/logo-focus-white-simple.png" alt="logo" class="logo-img">*@
            <span>Senha resetada com sucesso! </span>
        </div>
        <div class="panel-body text-center">


            @Html.ActionLink("Clique aqui", "Login", "Account") para se logar novamente


        </div>
    </div>
</div>







