@model System.Web.Mvc.HandleErrorInfo

@{
    
    ViewBag.Title = "Conta desativada!";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}


<div class="login-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            @*<img src="~/Content/imagens/logo-focus-white-simple.png" alt="logo" class="logo-img">*@
            <span>Conta não configurada </span>
        </div>
        <div class="panel-body text-center">
            
            Sua conta foi criada contudo não foi configurada para utilizar esta ferramenta. Entre em contato com o suporte técnico focus para pedir a correção.

        </div>
    </div>
</div>







